@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400;1,500;1,700&display=swap");

/* POP PLAN MAIN HOMEPAGE */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.home .container {
  position: relative;
  z-index: 1;
  color: white;
}

.how-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-image: linear-gradient(
    91.3deg,
    rgba(135, 174, 220, 1) 1.5%,
    rgba(255, 255, 255, 1) 100.3%
  );
}

.how-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

/* QUIZ HOMEPAGE */


.quiz-page {
  overflow-x: hidden;
  background: linear-gradient(135deg, #ff512f, #f09819);
  height: 100vh
}

.quiz-page main {
  padding: 1rem;
}

.quiz-page
h1,
.quiz-page h2 {
  color: #000; /* Black for headings */
}

.quiz-page h3 {
  padding-bottom: 2rem;
  color: #000; /* Black for subheadings */
  font-size: 1.8rem;
}

.quiz-page button {
  padding: 16px 8px;
  width: 100%;
  margin-top: 12px;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
  color: #fff; /* White text on buttons */
  background-color: #378e9e; /* Sea Green for buttons */
  transition: all 0.3s ease; /* Transition for button hover effect */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); /* Button shadow */
}

.quiz-page button:hover {
  background-color: #215d68; /* Darker shade of Sea Green on hover */
  transform: translateY(-5px); /* Move button up slightly on hover */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5); /* Deeper shadow on hover */
}

.quiz-page button.btn-disabled {
  background-color: #ffbb43; /* Xanthous for disabled button */
  cursor: not-allowed;
  opacity: 0.6;
}

.quiz-page li {
  list-style-type: none;
  cursor: pointer;
  margin: 9px 0;
  padding: 16px 8px;
  color: #000; /* Black text for list items */
  background-color: rgba(
    55,
    142,
    158,
    0.5
  ); /* Blue (Munsell) with 50% transparency */
  border: 1px solid lightgray;
  position: relative;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.3s ease;
}

.quiz-page .li-hover:hover {
  background-color: #215d68; /* Match the hover effect of buttons */
  transform: translateY(-5px); /* Add a slight movement on hover */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5); /* Add shadow on hover */
}

.quiz-page .li-selected {
  border-color: #f89408; /* Carrot Orange */
  background-color: #ffbb43; /* Xanthous */
  color: #000; /* Black text for selected list items */
}

.quiz-page .checkmark {
  display: none;
  font-size: 1.5rem;
  color: #000; /* Black for checkmark */
}

.quiz-page .li-selected .checkmark {
  display: inline; /* Display the checkmark when selected */
}

.quiz-page .container {
  max-width: 740px;
  width: 100%;
  margin: auto;
  padding: 1rem;
}

.quiz-container {
  padding: 1rem;
  margin-top: 2rem;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.8); /* Slightly opaque white background */
}

.quiz-page .container p {
  padding: 8px 0;
}

.quiz-page .button-group {
  display: flex;
  justify-content: flex-end;
  gap: 10px; /* Adds space between the buttons */
}

/* Back button styles */
.quiz-page button.back-btn {
  background-color: #dd6517; /* Spanish Orange */
  color: #fff; /* White text */
}

.quiz-page button.back-btn:hover {
  background-color: #215d68; /* Match the hover effect of buttons */
}

/* Next button styles */
.quiz-page button.next-btn {
  background-color: #53914d; /* Sea Green */
  color: #fff; /* White text */
}

.quiz-page button.next-btn:hover {
  background-color: #215d68; /* Match the hover effect of buttons */
}

/* Disabled Next button hover */
.quiz-page button.next-btn.btn-disabled:hover {
  background-color: #f89408; /* Keep orange when hovering and no selection is made */
}

.quiz-page .input-group {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem; /* Adds padding below the input box */
  gap: 5px; /* Adds 5px gap between the input field and the button */
}

.quiz-page .input-field {
  flex: 3; /* Occupies 3/4 of the row */
  font-size: 1rem;
  border-radius: 4px;
  border: 1px solid lightgray;
  padding: 10px;
  height: 40px; /* Set a fixed height */
  box-sizing: border-box; /* Ensures padding is included in the height */
}

.quiz-page .add-btn {
  flex: 1; /* Occupies 1/4 of the row */
  font-size: 1rem;
  height: 40px; /* Matches the fixed height of the input field */
  padding: 0 10px;
  box-sizing: border-box; /* Ensures padding is included in the height */
  display: flex;
  align-items: center; /* Vertically center the text */
  justify-content: center; /* Horizontally center the text */
  background-color: #53914d; /* Sea Green */
  color: #fff; /* White text */
  transition: all 0.3s ease; /* Transition for button hover effect */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); /* Button shadow */
}

.quiz-page .add-btn:hover {
  background-color: #215d68; /* Darker shade of Sea Green on hover */
  transform: translateY(-5px); /* Move button up slightly on hover */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5); /* Deeper shadow on hover */
}

.quiz-page .user-answers-list {
  margin-bottom: 1rem; /* Adds space below the list of user answers */
}

.quiz-page .user-answer {
  display: flex;
  align-items: center;
  margin-bottom: 9px; /* Match the spacing of other answers */
  padding: 16px 8px; /* Match the padding of other answers */
  border-radius: 8px; /* Match the border radius of other answers */
  background-color: rgba(
    55,
    142,
    158,
    0.5
  ); /* Match the background color and transparency */
  border: 1px solid lightgray;
  font-size: 1rem;
  color: #000; /* Black text */
  transition: all 0.3s ease; /* Match the transition of other answers */
  position: relative;
}

.quiz-page .user-answer:hover {
  background-color: #215d68; /* Match the hover effect of buttons */
  transform: translateY(-5px); /* Add a slight movement on hover */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5); /* Add shadow on hover */
  cursor: pointer; /* Change cursor to pointer on hover */
}

.quiz-page .user-answer:hover::after {
  content: "Click to delete";
  color: #000; /* Black text for the tooltip */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.9rem;
  background-color: rgba(255, 255, 255, 0.8); /* Slightly opaque background */
  padding: 4px 8px;
  border-radius: 4px;
  z-index: 1;
}

.quiz-page .user-answer span {
  flex-grow: 1;
  margin-right: 5px;
}

.quiz-page .button-group {
  margin-top: 1rem; /* Adds padding above the Back and Next buttons */
}


/* PROFILE HOMEPAGE */

.profile-container {
  position: relative;
  z-index: 1;
}

.profile-hero {
  background: linear-gradient(135deg, #ff512f, #f09819);
  padding: 50px 0;
  text-align: center;
  height: 100vh;
  border-bottom: 5px solid #ff512f;
}

.profile-image-wrapper {
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;
  width: 150px;
  height: 150px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.profile-image {
  width: 100%;
  height: auto;
}

.welcome-text {
  color: #fff;
  font-size: 2.5rem;
  margin-top: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.buttons-wrapper {
  margin-top: 30px;
}

.custom-button {
  background-color: #378e9e;
  color: #fff;
  border: none;
  padding: 15px 30px;
  margin: 10px;
  border-radius: 25px;
  cursor: pointer;
  font-size: 1rem;
  transition: all 0.3s ease;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  width: auto; /* Ensure the width auto-adjusts to the content */
  min-width: 150px; /* Minimum width for consistency */
  max-width: 250px; /* Maximum width to prevent excessively wide buttons */
}

.custom-button:hover {
  background-color: #215d68;
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

.content {
  padding: 20px;
  text-align: center;
}

.content-title {
  color: #333;
  font-size: 2rem;
  margin: 20px 0;
}

.results-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.result-text {
  color: #333;
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.expanded-profile-container {
  background: linear-gradient(135deg, #ff512f, #f09819);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.expanded-profile-image {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
}

.expanded-buttons-wrapper {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}

.location-input-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.location-input {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 25px;
  font-size: 1rem;
  width: 200px;
  margin-right: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.location-input:focus {
  outline: none;
  border-color: #3f51b5;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.confirmation-box {
  background: linear-gradient(
    135deg,
    #ff512f,
    #f09819
  ); /* Match the gradient pattern of the webpage */
  padding: 40px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5); /* Add a subtle shadow for depth */
}

.expanded-buttons-wrapper {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

/* Hide the actual file input */
#file-upload {
  display: none;
}

/* Style for the "Edit Profile Picture" button */
.file-upload-label {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
  border: none;
  display: inline-block;
  padding: 0;
  font-size: inherit;
}
